#wowslider-container$GallerySuffix$ .ws_shadow{
	background: url(./shadow.png) left 100%;
	background-size:100%;
	width:140%;
	height:45%;
	position: absolute;
	left:-21.7%;
	bottom:-30%;
	z-index:-1;
}
* html #wowslider-container$GallerySuffix$ .ws_shadow{/*ie6*/
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader( src='$ImgPath$shadow.png', sizingMethod='scale');
}
*+html #wowslider-container$GallerySuffix$ .ws_shadow{/*ie7*/
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader( src='$ImgPath$shadow.png', sizingMethod='scale');
}
