#wowslider-container$GallerySuffix$ .ws_thumbs a.ws_selthumb{
	background-color: #272727;
	opacity:1;	
}

#wowslider-container$GallerySuffix$ .ws_thumbs  a{
	opacity:0.7;
	background-color: #737373;
}

