#wowslider-container$GallerySuffix$  .ws_bullets { 
	padding: 10px; 
}
#wowslider-container$GallerySuffix$ .ws_bullets a { 
	width:13px;
	height:13px;
	background: url(./bullet.png) left top;
	float: left; 
	text-indent: -4000px; 
	position:relative;
	margin-left:6px;
	color:transparent;
}
#wowslider-container$GallerySuffix$ .ws_bullets a.ws_selbull, #wowslider-container$GallerySuffix$ .ws_bullets a:hover{
	background-position: 0 100%;
}
#wowslider-container$GallerySuffix$ a.ws_next, #wowslider-container$GallerySuffix$ a.ws_prev {
	background-size: 200%;

	position:absolute;
	top:50%;
	margin-top:-3.3em;
	z-index:60;
	height: 5em;
	width: 5em;
	background-image: url(./arrows.png);
}
#wowslider-container$GallerySuffix$ a.ws_next{
	background-position: 100% 0;
	right:0.3em;
}
#wowslider-container$GallerySuffix$ a.ws_prev {
	left:0.3em;
	background-position: 0 0; 
}
#wowslider-container$GallerySuffix$ a.ws_next:hover{
	background-position: 100% 100%;
}
#wowslider-container$GallerySuffix$ a.ws_prev:hover {
	background-position: 0 100%; 
}


/*playpause*/
#wowslider-container$GallerySuffix$ .ws_playpause {
    width: 5em;
    height: 5em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2.5em;
    margin-top: -2.5em;
    z-index: 59;
	background-size: 100%;
}

#wowslider-container$GallerySuffix$ .ws_pause {
    background-image: url(./pause.png);
}

#wowslider-container$GallerySuffix$ .ws_play {
    background-image: url(./play.png);
}

#wowslider-container$GallerySuffix$ .ws_pause:hover, #wowslider-container1 .ws_play:hover {
    background-position: 100% 100% !important;
}