
#wowslider-container$GallerySuffix$  .ws_bullets { 
	padding: 5px; 
}
#wowslider-container$GallerySuffix$ .ws_bullets a { 
	width:35px;
	height:35px;
	background: url(./bullet.png) left top;
	float: left; 
	text-indent: -4000px; 
	position:relative;
	margin-left:0px;
	color:transparent;
}
#wowslider-container$GallerySuffix$ .ws_bullets a:hover{
	background-position: 0 50%;	
}
#wowslider-container$GallerySuffix$ .ws_bullets a.ws_selbull{ 
	background-position: 0 100%;
}	
#wowslider-container$GallerySuffix$ a.ws_next, #wowslider-container$GallerySuffix$ a.ws_prev {
	background-size: 200%;
	position:absolute;
	top:50%;
	margin-top:-3.2em;
	z-index:60;
	width: 6.4em;	
	height: 6.4em;
	background-image: url(./arrows.png);
}
#wowslider-container$GallerySuffix$ a.ws_next{
	background-position: 100% 0;
	right:0.5em;
}
#wowslider-container$GallerySuffix$ a.ws_prev {
	left:0.5em;
	background-position: 0 0; 
}
#wowslider-container$GallerySuffix$ a.ws_next:hover{
	background-position: 100% 100%;
}
#wowslider-container$GallerySuffix$ a.ws_prev:hover {
	background-position: 0 100%; 
}

/*playpause*/
#wowslider-container$GallerySuffix$ .ws_playpause {
    width: 6.4em;
    height: 6.4em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -3.2em;
    margin-top: -3.2em;
    z-index: 59;
}

#wowslider-container$GallerySuffix$ .ws_pause {
	background-size: 100%;
    background-image: url(./pause.png);
}

#wowslider-container$GallerySuffix$ .ws_play {
	background-size: 100%;
    background-image: url(./play.png);
}

#wowslider-container$GallerySuffix$ .ws_pause:hover, #wowslider-container1 .ws_play:hover {
    background-position: 100% 100% !important;
}