#wowslider-container$GallerySuffix$ .ws_bullets  a img{
	text-indent:0;
	display:block;
	$TooltipPos$:25px;
	left:-$ThumbWidthHalf$px;
	visibility:hidden;
	position:absolute;
    border: 2px solid #FFFFFF;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);	
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	border-radius:0px;
	max-width:none;
}
#wowslider-container$GallerySuffix$ .ws_bullets a:hover img{
	visibility:visible;
}

#wowslider-container$GallerySuffix$ .ws_bulframe div div{
	height:$ThumbHeight$px;
	overflow:visible;
	position:relative;
}
#wowslider-container$GallerySuffix$ .ws_bulframe div {
	left:0;
	overflow:hidden;
	position:relative;
	width:$ThumbWidth$px;
	background-color:#FFFFFF;	
}
#wowslider-container$GallerySuffix$  .ws_bullets .ws_bulframe{
	display:none;
	$TooltipPos$:37px;
	overflow:visible;
	position:absolute;
	cursor:pointer;
    border: 2px solid #FFFFFF;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);	
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	border-radius:0px;
}
#wowslider-container$GallerySuffix$ .ws_bulframe span{
	display:block;
	position:absolute;
	$TooltipPos$:-8px;
	margin-left:8px;
	left:50%;
	background:url(./triangle.png);
	width:15px;
	height:6px;
}