/* default */
#wowslider-container$GallerySuffix$ .ws-title{
	position: absolute;
    font: $TemplateFontSize$ $fontFamily$;
	bottom:0;
	left: 0;
	z-index: 50;
	padding:0.4em 1%;
	color: $TemplateColor$;
	text-transform:none; 
	background:#000000;
	line-height: 1.1em;
	text-align: center; 
	font-weight: normal;
	width: 98%; 
	border-radius:0;
	opacity:0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);	
	
}
#wowslider-container$GallerySuffix$ .ws-title div{
	padding:0.35em 0;
	font-size: 0.625em;
	text-transform:none; 
	line-height: 1.15em;
}
#wowslider-container$GallerySuffix$:hover .ws-title {
	opacity:0.8;
}