<!-- Name: WOWSlider  -->

<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container%ID%">
<div class="ws_images"><ul>
		<li><img src="%URL%images/hydrangeas.jpg" alt="Hydrangeas" title="Hydrangeas" id="wows%ID%_0"/></li>
		<li><img src="%URL%images/jellyfish_.jpg" alt="Jellyfish -бэграундом" title="Jellyfish -бэграундом" id="wows%ID%_1"/></li>
		<li><img src="%URL%images/koala.jpg" alt="Koala" title="Koala" id="wows%ID%_2"/></li>
		<li><img src="%URL%images/lighthouse.jpg" alt="Lighthouse" title="Lighthouse" id="wows%ID%_3"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="Hydrangeas"><span><img src="%URL%tooltips/hydrangeas.jpg" alt="Hydrangeas"/>1</span></a>
		<a href="#" title="Jellyfish -бэграундом"><span><img src="%URL%tooltips/jellyfish_.jpg" alt="Jellyfish -бэграундом"/>2</span></a>
		<a href="#" title="Koala"><span><img src="%URL%tooltips/koala.jpg" alt="Koala"/>3</span></a>
		<a href="#" title="Lighthouse"><span><img src="%URL%tooltips/lighthouse.jpg" alt="Lighthouse"/>4</span></a>
	</div></div>
	<a href="#" class="ws_frame"></a>
	<div class="ws_shadow"></div>
</div>
<!-- End WOWSlider.com BODY section -->
