#wowslider-container$GallerySuffix$ .ws_thumbs a.ws_selthumb{
	background-color: #444;
}

#wowslider-container$GallerySuffix$ .ws_thumbs  a{
    -moz-box-shadow: 0 0 18px #FFF;
    box-shadow: 0 0 18px #FFF;	
	background-color: #fff;
}

