#wowslider-container$GallerySuffix$ .ws_thumbs  a{
	background-color: #fff;
	-webkit-transition: background-color 200ms ease-in-out;
	transition: background-color 200ms ease-in-out;
}

#wowslider-container$GallerySuffix$ .ws_thumbs a.ws_selthumb{
	background-color: $TemplateColor$;
}