#wowslider-container$GallerySuffix$ .ws_thumbs a.ws_selthumb{
	background-color:#ffffff;
}

#wowslider-container$GallerySuffix$ .ws_thumbs  a{
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    background: #e1e1e1;
}

