#wowslider-container$GallerySuffix$ .ws-title{
	position:absolute;
	display:block;
	font: $TemplateFontSize$ $fontFamily$;
	bottom: 1.1em;
	left: 0.25em; 
	margin-right:0.25em;
	padding:0.4em;
	background:rgba(202, 202, 202, 0.6);
	color:$TemplateColor$;
	z-index: 50;
	line-height: 1.2em;
	font-weight: bold;
	border-radius:0.2em;
	-moz-border-radius:0.2em;
	-webkit-border-radius:0.2em;
}
#wowslider-container$GallerySuffix$ .ws-title div{
	color: #444444;
    margin-top: 0.3em;
	font-size: 0.8em;
	line-height: 1em;
	font-weight: normal;
}