#wowslider-container$GallerySuffix$ .ws_thumbs a.ws_selthumb{
	background-color: #444;
}

#wowslider-container$GallerySuffix$ .ws_thumbs  a{
    -moz-box-shadow: 0 0 5px #d6d6d6;
    box-shadow: 0 0 5px #d6d6d6;
	background-color: #d6d6d6;
}

