#wowslider-container$GallerySuffix$ .ws_thumbs a.ws_selthumb{
	background-color: rgba(255, 255, 255, 1);
}

#wowslider-container$GallerySuffix$ .ws_thumbs  a{
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;

	background-color: rgba(255, 255, 255, 0.5);
}

