#wowslider-container$GallerySuffix$ .ws_bullets  a img{
	text-indent:0;
	display:block;
	$TooltipPos$:16px;
	left:-$ThumbWidthHalf$px;
	visibility:hidden;
	position:absolute;
    border: 4px solid #5b5c61;
	max-width:none;
}
#wowslider-container$GallerySuffix$ .ws_bullets a:hover img{
	visibility:visible;
}

#wowslider-container$GallerySuffix$ .ws_bulframe div div{
	height:$ThumbHeight$px;
	overflow:visible;
	position:relative;
}
#wowslider-container$GallerySuffix$ .ws_bulframe div {
	left:0;
	overflow:hidden;
	position:relative;
	width:$ThumbWidth$px;
	background-color:#5b5c61;
}
#wowslider-container$GallerySuffix$  .ws_bullets .ws_bulframe{
	display:none;
	$TooltipPos$:21px;
	overflow:visible;
	position:absolute;
	cursor:pointer;
    border: 4px solid #5b5c61;
}
#wowslider-container$GallerySuffix$ .ws_bulframe span{
	display:block;
	position:absolute;
	$TooltipPos$:-9px;
	margin-left:1px;
	left:$ThumbWidthHalf$px;
	background:url(./triangle.png);
	width:13px;
	height:7px;
}