#wowslider-container$GallerySuffix$ .ws-title{
	position: absolute;
	font: $TemplateFontSize$ $fontFamily$;
	left: 0;
	margin-right:10em;
	z-index: 50;
	background: none;
	color:#000;
	bottom: 2em;
	top: auto;
	opacity: 1;
	text-align: center;
	width: 100%;
}
#wowslider-container$GallerySuffix$ .ws-title div{
    margin-top: 0.5em;
	font-size: 1.1em;
	line-height: 1.15em;
}
#wowslider-container$GallerySuffix$ .ws-title span{
	font-size: 2.5em;
	text-transform: uppercase;
}