#wowslider-container$GallerySuffix$ .ws_thumbs a.ws_selthumb{
	background-color: #fff;
	opacity: 1;
}

#wowslider-container$GallerySuffix$ .ws_thumbs  a{
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	opacity: 0.6;
	
	background-color: rgba(255, 255, 255, 0.4);
}

