/* default */
#wowslider-container$GallerySuffix$ .ws-title{
	position: absolute;
    font: $TemplateFontSize$ $fontFamily$;
	bottom:0.8em;
	left: 0.8em;
	margin-right:1em;
	z-index: 50;
	padding:0.4em;
	color: $TemplateColor$;
	background:#FFFFFF;
	font-weight: normal;
	opacity:0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);	
}
#wowslider-container$GallerySuffix$ .ws-title div{
	font-size: 0.833em;
}