#wowslider-container$GallerySuffix$ .ws_thumbs a.ws_selthumb{
	background-color: #09a4cb;
}

#wowslider-container$GallerySuffix$ .ws_thumbs  a{
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	background-color: #A8A8A8;
}

