#wowslider-container$GallerySuffix$ .ws_images {
    box-shadow: 0px 0px 2px rgba(100, 100, 100, 0.7);	
    -moz-box-shadow: 0px 0px 2px rgba(100, 100, 100, 0.7);
    -webkit-box-shadow: 0px 0px 2px rgba(100, 100, 100, 0.7); 
}
