<div class="body" style=" background-color: #006fc7; border-color: #006fc7; margin:-1px">
    <style>
        .ul_danhmuc {
            list-style: none;
            padding-inline-start: 0px;
        }

            .ul_danhmuc li {
                border-bottom: 1px solid rgba(248, 248, 248, 0.17);
                padding-top: 8px;
                padding-bottom: 8px;
                transition: 0.5s;
            }

                .ul_danhmuc li:hover {
                    border-bottom: 1px solid white;
                }

                .ul_danhmuc li a {
                    color: white;
                    text-align: justify;
                    font-size: 90%;
                    text-decoration: none;
                }

                    .ul_danhmuc li a i {
                        margin-right: 10px;
                    }
    </style>
    <ul class="ul_danhmuc">
        <li>
            <a href="/home/index">
                <i class="icon-home"></i> Trang chủ
            </a>
        </li>
        <li>
            <a href="/Tin-Tuc/1/3309">
                <i class="icon-caret-right"></i>&nbsp; Thông tin thị trường lao động
            </a>
        </li>

        <li>
            <a href="/Tin-Tuc/1/3303">
                <i class="icon-caret-right"></i>&nbsp; Thông báo sàn giao dịch
            </a>
        </li>


        <li>
            <a href="/Tin-Tuc/1/3302">
                <i class="icon-caret-right"></i>&nbsp; Thông báo của Trung tâm
            </a>
        </li>

        <li>
            <a href="/Tin-Tuc/1/3680">
                <i class="icon-caret-right"></i>&nbsp; Đào tạo, dạy nghề
            </a>
        </li>

        <li>
            <a href="/Tin-Tuc/1/3681">
                <i class="icon-caret-right"></i>&nbsp; Lao động, việc làm
            </a>
        </li>

        <li>
            <a href="/Tin-Tuc/1/0">
                <i class="icon-caret-right"></i>&nbsp; QC Tuyển dụng doanh nghiệp
            </a>
        </li>
    </ul>
</div>
