#wowslider-container$GallerySuffix$ .ws_bullets  a img{
	text-indent:0;
	display:block;
	$TooltipPos$:20px;
	left:-$ThumbWidthHalf$px;
	visibility:hidden;
	position:absolute;
    border: 4px solid rgba(220, 220, 220, 0.6);
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	max-width:none;
}
#wowslider-container$GallerySuffix$ .ws_bullets a:hover img{
	visibility:visible;
}

#wowslider-container$GallerySuffix$ .ws_bulframe div div{
	height:$ThumbHeight$px;
	overflow:visible;
	position:relative;
}
#wowslider-container$GallerySuffix$ .ws_bulframe div {
	left:0;
	overflow:hidden;
	position:relative;
	width:$ThumbWidth$px;
	background-color:rgba(220, 220, 220, 0.6);
}
#wowslider-container$GallerySuffix$  .ws_bullets .ws_bulframe{
	display:none;
	$TooltipPos$:21px;
	overflow:visible;
	position:absolute;
	cursor:pointer;
    border: 4px solid rgba(220, 220, 220, 0.6);
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
#wowslider-container$GallerySuffix$ .ws_bulframe span{
	display:block;
	position:absolute;
	$TooltipPos$:-10px;
	margin-left:-4px;
	left:$ThumbWidthHalf$px;
	background:url(./triangle.png);
	width:15px;
	height:6px;
}