#wowslider-container$GallerySuffix$  .ws_bullets { 
	padding: 5px; 
}
#wowslider-container$GallerySuffix$ .ws_bullets a { 
	width:17px;
	height:16px;
	background: url(./bullet.png) left top;
	float: left; 
	margin-left:5px;	
	position:relative;
	text-indent: -4000px;
	color:transparent;
}
#wowslider-container$GallerySuffix$ .ws_bullets a:hover, #wowslider-container$GallerySuffix$ .ws_bullets a.ws_selbull{
	background-position: 0 100%;
}
#wowslider-container$GallerySuffix$ a.ws_next, #wowslider-container$GallerySuffix$ a.ws_prev {
	background-size: 200%;

	position:absolute;
	right:0.5em;
	margin-top:-0.5em;
	z-index:60;
	width: 3.7em;
	height: 3.7em;	
	background-image: url(./arrows.png);
}
#wowslider-container$GallerySuffix$ a.ws_next{
	background-position: 100% 0;
	bottom:0.5em;
}
#wowslider-container$GallerySuffix$ a.ws_prev {
	background-position: 0 0; 
	bottom:4.3em;
}
#wowslider-container$GallerySuffix$ a.ws_next:hover{
	background-position: 100% 100%;
}
#wowslider-container$GallerySuffix$ a.ws_prev:hover {
	background-position: 0 100%; 
}

/*playpause*/
#wowslider-container$GallerySuffix$ .ws_playpause {
    width: 3.7em;
    height: 3.7em;
    position: absolute;
    bottom:8.1em;
    right: 0.5em;
    z-index: 59;
}

#wowslider-container$GallerySuffix$ .ws_pause {
	background-size: 100%;
    background-image: url(./pause.png);
}

#wowslider-container$GallerySuffix$ .ws_play {
	background-size: 100%;
    background-image: url(./play.png);
}

#wowslider-container$GallerySuffix$ .ws_pause:hover, #wowslider-container1 .ws_play:hover {
    background-position: 100% 100% !important;
}