@using WebViecLammoi.DAO
@using WebViecLammoi.Utils
<style>
    .div_bannersmall > div {
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 5px
    }

    .div_bannersmall div img {
        height: 55px;
        width: 100%;
    }

        .div_bannersmall div img:hover {
            border: 2px solid #006fc7;
            box-shadow: 0px 0px 6px #0000004d;
        }
</style>
<div class="row div_bannersmall">
    @foreach (New_small small in ViewBag.QCTT_small)
    {
        var str = " ";
        var title = small.Title.ToLower();
        var path = XString.maplocal + "News_Img\\" + small.ImagePath;
        if (small.Title.Length > 100)
        {
            str = XString.ConvertToUnSign(small.Title.Substring(0, 100));
        }
        else
        {
            str = XString.ConvertToUnSign(small.Title);
        }
        var url = "/Tin-Tuc/" + str.Replace("/", "-") + "-" + small.NewId;
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <a href="@url" title="TT_small:@title" target="_blank">
                @if (File.Exists(path))
                {
                    <img src="@XString.GetImgBase64("News_Img", small.ImagePath)" hidden />
                    <img src="~/Content/Upload/News_Img/@small.ImagePath" />
                }
                else
                {<img src="~/Content/Upload/News_Img/noimgSmall.jpg" />}
            </a>
        </div>
    }
    @for (int i = 0; i < ViewBag.QCTT_smallTT; i++)
    {
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <a href="" title="">
                <img src="~/Content/Upload/News_Img/noimgSmall.jpg" />
            </a>
        </div>
    }

    @*<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <a href="" title="" target="_blank">
                <img src="~/Content/QuangCao/3.jpg" />
            </a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <a href="" title="" target="_blank">
                <img src="~/Content/QuangCao/4.jpg" />
            </a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <a href="" title="" target="_blank">
                <img src="~/Content/QuangCao/5.jpg" />
            </a>
        </div>*@
</div>
