#wowslider-container$GallerySuffix$ .ws-title{
	position: absolute;
    font: $TemplateFontSize$ $fontFamily$;
	bottom:1.35em;
	left: 0;
	margin: 0 0.2em 0.8em 0;
	z-index: 50;
	padding:0.4em;
	color: $TemplateColor$;
	background:#E3D84B;
	font-weight: bold;	
	border-radius:0 0.15em 0.15em 0;	
	-moz-border-radius:0 0.15em 0.15em 0;
 	-webkit-border-radius:0 0.15em 0.15em 0;
	opacity:0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	box-shadow: 0 0.05em 0 rgba(255, 255, 255, 0.2) inset;
	-moz-box-shadow: 0 0.05em 0 rgba(255, 255, 255, 0.2) inset;
	-webkit-box-shadow: 0 0.05em 0 rgba(255, 255, 255, 0.2) inset;
}
#wowslider-container$GallerySuffix$ .ws-title div{
	padding-top:0.25em;
	font-size: 0.6em;
	line-height: 1.15em;
	font-weight: normal;
	text-transform:none;
}
#wowslider-container$GallerySuffix$ .ws-title span{
	line-height: 1.1em;
}