#wowslider-container$GallerySuffix$ .ws_thumbs a.ws_selthumb{
	background-color: #f5b50c;
}

#wowslider-container$GallerySuffix$ .ws_thumbs  a{
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	border-radius:5px;
	-moz-border-radius:5px;
	background-color: #4e463f;
}

