#wowslider-container$GallerySuffix$ .ws-title{
	font: $TemplateFontSize$ $fontFamily$;
	position: absolute;
	left: 2em;
	margin-right:10em;
	z-index: 50;
	background: none;
	background-color:#fff;
	color:#60CAC0;
	padding: 1em;
	bottom: 40px;
	top: auto;
	opacity: 1;
	text-transform:uppercase;
	
	-webkit-border-radius: 0.8em;
	-moz-border-radius: 0.8em;
	border-radius: 0.8em;
}
#wowslider-container$GallerySuffix$ .ws-title div{
	display:block;
	margin-top:0.5em;
	font-size: 1.1em;
	padding: 0.4em;
	line-height: 1.15em;
	color:rgba(37, 37, 37, 0.8);
	
	-webkit-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	border-radius: 0.4em;
}
#wowslider-container$GallerySuffix$ .ws-title span{
	font-size: 1.8em;
	background-color:#fff;
	color:rgba(37, 37, 37, 0.8);
	
	-webkit-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	border-radius: 0.4em;
}