#wowslider-container$GallerySuffix$ .ws-title{
	position: absolute;	
	font: $TemplateFontSize$ $fontFamily$;
	margin-right:10em;
	z-index: 50;
    color: #FFFFFF;
	left: 1em;
	background: none;
	padding: 1em;
	bottom: 30px;
	top: auto;
	opacity: 1;
}
#wowslider-container$GallerySuffix$ .ws-title div,#wowslider-container$GallerySuffix$ .ws-title span{
	display:inline-block;
	padding: 0.5em;
	text-transform: uppercase;	
}
#wowslider-container$GallerySuffix$ .ws-title div{
	display:block;
	margin-top:0.5em;
	font-size: 1.1em;
	padding: 0.7em;
	line-height: 1.15em;
	background-color:$TemplateColor$;
	color:#fff;
	
	-webkit-border-radius: 0.8em;
	-moz-border-radius: 0.8em;
	border-radius: 0.8em;
}
#wowslider-container$GallerySuffix$ .ws-title span{
	font-size: 1.8em;
	-webkit-border-radius: 0.8em;
	-moz-border-radius: 0.8em;
	border-radius: 0.8em;
	background-color:#fff;
	color:$TemplateColor$;
}