/* top right*/
#wowslider-container$GallerySuffix$  .ws_bullets {
    $TooltipPos$: 4px;
    right: 4px;
}
#wowslider-container$GallerySuffix$ .ws_bullets .ws_bulframe {
	top: 20px;
}
#wowslider-container$GallerySuffix$ .ws_bullets .ws_bulframe {
	top: 20px;
}
