#wowslider-container$GallerySuffix$ .ws_images {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);	
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4); 
}
