#wowslider-container$GallerySuffix$ .ws_thumbs a.ws_selthumb{
	background-color: #F71277;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

#wowslider-container$GallerySuffix$ .ws_thumbs  a{
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);	
	background-color: #fff;
}

