#wowslider-container$GallerySuffix$ .ws-title{
	position:absolute;
	display:block;
	font: $TemplateFontSize$ $fontFamily$;
	bottom: 1em;
	left: 0px; 
	margin-right:0.5em;
	padding:0.4em;
	background:#0cad00;
	color:$TemplateColor$;
	z-index: 50;
	line-height: 1.4em;
	text-transform: none;
	opacity:1;
}
#wowslider-container$GallerySuffix$ .ws-title div{
    padding-top: 0.15em;
	font-size: 0.69em;
	line-height: 1.4em;
}