#wowslider-container$GallerySuffix$  .ws_bullets { 
	padding: 15px 0; 
}
#wowslider-container$GallerySuffix$ .ws_bullets a { 
	width:12px;
	height:12px;
	border-radius: 50%;
	background: #34495E;
	float: left; 
	text-indent: -4000px; 
	position:relative;
	margin-left:5px;
	color:transparent;
}
#wowslider-container$GallerySuffix$ .ws_bullets a.ws_selbull{
	background: $TemplateColor$;
	color:$TemplateColor$;
}
#wowslider-container$GallerySuffix$ a.ws_next, #wowslider-container$GallerySuffix$ a.ws_prev {
	position: absolute;
	top: 50%;
	height: 7em;
	margin-top: -3.5em;
	width: 5em;
	z-index: 60;
}
#wowslider-container$GallerySuffix$ a.ws_next{
	right:0;
}

#wowslider-container$GallerySuffix$ a.ws_next span i:after,
#wowslider-container$GallerySuffix$ a.ws_next span b:after,
#wowslider-container$GallerySuffix$ a.ws_next span i:before,
#wowslider-container$GallerySuffix$ a.ws_next span b:before,
#wowslider-container$GallerySuffix$ a.ws_prev span i:after,
#wowslider-container$GallerySuffix$ a.ws_prev span b:after,
#wowslider-container$GallerySuffix$ a.ws_prev span i:before,
#wowslider-container$GallerySuffix$ a.ws_prev span b:before{
	content: '';
	position: absolute;
	width: 100%;
	height: .3em;
	background: $TemplateColor$;
	top: 3.2em;
	-webkit-transition: .3s all ease-in-out;
	transition: .3s all ease-in-out;

	/* Fix  */
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	outline: 1px solid transparent;
}
#wowslider-container$GallerySuffix$ a.ws_next span b:after,
#wowslider-container$GallerySuffix$ a.ws_next span b:before,
#wowslider-container$GallerySuffix$ a.ws_prev span b:after,
#wowslider-container$GallerySuffix$ a.ws_prev span b:before{
	background: #34495E;
	width: 0;
}
#wowslider-container$GallerySuffix$ a.ws_next span i:after,
#wowslider-container$GallerySuffix$ a.ws_next span b:after,
#wowslider-container$GallerySuffix$ a.ws_prev span i:after,
#wowslider-container$GallerySuffix$ a.ws_prev span b:after{
	-webkit-transform: rotate(40deg);
	-ms-transform: rotate(40deg);
	transform: rotate(40deg);
}
#wowslider-container$GallerySuffix$ a.ws_next span i:before,
#wowslider-container$GallerySuffix$ a.ws_next span b:before,
#wowslider-container$GallerySuffix$ a.ws_prev span i:before,
#wowslider-container$GallerySuffix$ a.ws_prev span b:before{
	-webkit-transform: rotate(-40deg);
	-ms-transform: rotate(-40deg);
	transform: rotate(-40deg);
}

#wowslider-container$GallerySuffix$ a.ws_prev span i:after,
#wowslider-container$GallerySuffix$ a.ws_prev span i:before,
#wowslider-container$GallerySuffix$ a.ws_prev span b:after,
#wowslider-container$GallerySuffix$ a.ws_prev span b:before{
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	left: 1em;
}
#wowslider-container$GallerySuffix$ a.ws_next span i:after,
#wowslider-container$GallerySuffix$ a.ws_next span i:before,
#wowslider-container$GallerySuffix$ a.ws_next span b:after,
#wowslider-container$GallerySuffix$ a.ws_next span b:before{
	-webkit-transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
	transform-origin: 100% 0;
	right: 1em;
}

#wowslider-container$GallerySuffix$ a.ws_next:hover span i:before,
#wowslider-container$GallerySuffix$ a.ws_next:hover span b:before,
#wowslider-container$GallerySuffix$ a.ws_prev:hover span i:before,
#wowslider-container$GallerySuffix$ a.ws_prev:hover span b:before{
	-webkit-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	transform: rotate(-30deg);
}
#wowslider-container$GallerySuffix$ a.ws_next:hover span i:after,
#wowslider-container$GallerySuffix$ a.ws_next:hover span b:after,
#wowslider-container$GallerySuffix$ a.ws_prev:hover span i:after,
#wowslider-container$GallerySuffix$ a.ws_prev:hover span b:after{
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
}
#wowslider-container$GallerySuffix$ a.ws_prev:hover span b:after,
#wowslider-container$GallerySuffix$ a.ws_prev:hover span b:before,
#wowslider-container$GallerySuffix$ a.ws_next:hover span b:after,
#wowslider-container$GallerySuffix$ a.ws_next:hover span b:before{
	width:100%;
}

/*playpause*/
#wowslider-container$GallerySuffix$ .ws_playpause {
    position: absolute;
    width: 3em;
    height: 2em;
    top: 1.5em;
    left: 0.5em;
    z-index: 59;
}

#wowslider-container$GallerySuffix$ .ws_pause span i, #wowslider-container$GallerySuffix$ .ws_pause span b{
	position: absolute;
  	width: 0.2em;
  	height: 2em;
  	background: $TemplateColor$;
	-webkit-transition: background 300ms ease-in-out;
	transition: background 300ms ease-in-out;
}

#wowslider-container$GallerySuffix$ .ws_pause span i{
	left: 1.4em;
}

#wowslider-container$GallerySuffix$ .ws_pause span b{
	left: 2.1em;
}


#wowslider-container$GallerySuffix$ .ws_play span{
	border: solid transparent;
	position: absolute;
  	pointer-events: none;
	border-left-color: $TemplateColor$;
	border-width: 10px;
	top: 0;
	left: 1.4em;
	-webkit-transition:  border-left-color 300ms ease-in-out;
	transition:  border-left-color 300ms ease-in-out;
}

#wowslider-container$GallerySuffix$ .ws_pause:hover span i, #wowslider-container$GallerySuffix$ .ws_pause:hover span b{
	background: #34495E;
}
#wowslider-container$GallerySuffix$ .ws_play:hover span{
	border-left-color: #34495E;
}
