/* bottom center */
#wowslider-container$GallerySuffix$  .ws_bullets {
    $TooltipPos$: 0px;
	left:50%;
}
#wowslider-container$GallerySuffix$  .ws_bullets div{
	left:-50%;
}
#wowslider-container$GallerySuffix$ .ws_bulframe span {
	visibility: visible;
	opacity: 1;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid $TemplateColor$;
	bottom: -5px;
	margin-left: -5px;
	left: 50%;
}