#wowslider-container$GallerySuffix$ .ws_thumbs a.ws_selthumb{
	background-color: rgba(255,255,255,1);
}

#wowslider-container$GallerySuffix$ .ws_thumbs  a{
    -moz-box-shadow: 0 0 5px #111111;
	-webkit-box-shadow: 0 0 5px #111111;
     box-shadow: 0 0 5px #111111;

	background-color: rgba(255,255,255,0.3);
}

