#wowslider-container$GallerySuffix$ .ws-title{
	position:absolute;
	display:block;
	font: $TemplateFontSize$ $fontFamily$;
	bottom: 0.5em;
	left: 0.5em;
	margin-right:0.2em;
	padding:0.2em;
	
	color:$TemplateColor$;
	z-index: 50;
    line-height: 1.3em;
	font-weight: bold;
	opacity:1;
	
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); 
}
#wowslider-container$GallerySuffix$ .ws-title div{
	color: $TemplateColor$;
    font-size: 0.857em;
	line-height: 1.1em;	
	font-weight: normal;
}