#wowslider-container$GallerySuffix$  .ws_shadow{
	background-image: url(./bg.png);
	background-repeat: no-repeat;
	background-size:100%;
	position:absolute;
	z-index: -1;
	left:-$frameL$%;
	top:-$frameT$%;
	width:$frameW$%;
	height:$frameH$%;
}
* html #wowslider-container$GallerySuffix$ .ws_shadow{/*ie6*/
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader( src='$ImgPath$/bg.png', sizingMethod='scale');
}
*+html #wowslider-container$GallerySuffix$ .ws_shadow{/*ie7*/
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader( src='$ImgPath$/bg.png', sizingMethod='scale');
}
