#wowslider-container$GallerySuffix$  .ws_bullets { 
	padding: 3px 0; 
}
#wowslider-container$GallerySuffix$ .ws_bullets a { 
	width:19px;
	height:19px;
	background: url(./bullet.png) left top;
	float: left; 
	text-indent: -4000px; 
	position:relative;
	margin-left:6px;
	color:transparent;
}
#wowslider-container$GallerySuffix$ .ws_bullets a.ws_selbull, #wowslider-container$GallerySuffix$ .ws_bullets a:hover{
	background-position: 0 100%;
}
#wowslider-container$GallerySuffix$ a.ws_next, #wowslider-container$GallerySuffix$ a.ws_prev {
	background-size: 200% ;
	
	position: absolute;
	top: 50%;
    height: 6.5em;
    margin-top: -3.3em;   
    width: 4.3em;
	z-index: 60;
	background-image: url(./arrows.png);
}
#wowslider-container$GallerySuffix$ a.ws_next{
	background-position: 100% 0;
	right:0.7em;
}
#wowslider-container$GallerySuffix$ a.ws_prev {
	left:0.7em;
	background-position: 0 0; 
}
#wowslider-container$GallerySuffix$ a.ws_next:hover{
	background-position: 100% 100%;
}
#wowslider-container$GallerySuffix$ a.ws_prev:hover {
	background-position: 0 100%; 
}

/*playpause*/
#wowslider-container$GallerySuffix$ .ws_playpause {
    width: 1.1em;
    height: 1.8em;
    position: absolute;
    top: 6px;
    left: 13px;
    margin-left: -0.6em;
    margin-top: 0.2em;
    z-index: 59;
}

#wowslider-container$GallerySuffix$ .ws_pause {
	background-size: 100%;
    background-image: url(./pause.png);
}

#wowslider-container$GallerySuffix$ .ws_play {
	background-size: 100%;
    background-image: url(./play.png);
}

#wowslider-container$GallerySuffix$ .ws_pause:hover, #wowslider-container1 .ws_play:hover {
    background-position: 100% 100% !important;
}
