#wowslider-container$GallerySuffix$ .ws_thumbs a.ws_selthumb{
	background-color: #444;
}

#wowslider-container$GallerySuffix$ .ws_thumbs  a{
    -moz-box-shadow: 0 0 5px #3D3D3D;
    box-shadow: 0 0 5px #3D3D3D;

	background-color: #fff;
}

