#wowslider-container$GallerySuffix$ .ws_thumbs a.ws_selthumb{
	background-color: #444;
}

#wowslider-container$GallerySuffix$ .ws_thumbs  a{
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	
	background-color: #fff;
}

