#wowslider-container$GallerySuffix$ .ws_thumbs a.ws_selthumb{
	background-color: rgba(118, 152, 193, 1);
}

#wowslider-container$GallerySuffix$ .ws_thumbs  a{
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	background-color: rgba(0, 0, 0, 0.2);
}

