#wowslider-container$GallerySuffix$ .ws-title{
	font: $TemplateFontSize$ $fontFamily$;
	position: absolute;
	left: 20px;
	margin-right:10em;
	z-index: 50;
	bottom: 45px;
	top: auto;
	opacity: 1;
}
#wowslider-container$GallerySuffix$ .ws-title div,#wowslider-container$GallerySuffix$ .ws-title span{
	display:inline-block;
	padding: 0.6em 0.8em;
}
#wowslider-container$GallerySuffix$ .ws-title div{
	display:block;
	margin-top:0.5em;
	font-size: 1.3em;
	background-color: $TemplateColor$;
	color: #fff;
	border-radius: 0.18em;
}
#wowslider-container$GallerySuffix$ .ws-title span{
	text-transform: uppercase;	
	border-radius: 0.15em;
	font-size: 2em;
	background-color: #fff;
	color: $TemplateColor$;
}